<!DOCTYPE html>
<html ng-app="wtfm">
<head>
    <meta charset="utf-8" />
    <title>User login and registration</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-content/app.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
</head>
<body>
	
	<div ng-view></div>
    
</body>
</html>